


<footer class="p-5  mt-4">
	<div class="container mt-4">
		<div class="row align-items-center">

			<div class="col-md-4">
				<div class="text-center text-md-start mb-3 mb-md-0">
					<a href="index.html">  </a>
				</div> 
			</div>
			<div class="col-md-5" id="GM_font">
				<div class=" text-primary-hover"> Copyrights <a href="#" class="text-blue">©2022 Find.</a> All rights reserved. </div>
			</div>

		</div>
	</div>
</footer>




<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous"></script>




</body>
</html>