<%- include('../partials/header2') %>
<style>
    .img-main {
        width: 640px;
        height: 450px;
        
    }


</style>
<main>

    <section class="pt-3 pt-lg-5">
        <div class="container">
                <div class="row g-4 g-lg-5">
                    <div class="col-lg-6 position-relative mb-4 mb-md-0">
                        
                        <h1 class="mb-4 mt-md-5 display-5" id="GB_font">Find the
                            <span class="position-relative z-index-9">Party.
                            </span>
                        </h1>
                        <p class="mb-4" id="GM_font">관심사가 비슷한 파티와 파티원을 찾아보세요!</p>
    
                        
                        <div class="hstack gap-4 flex-wrap align-items-center" id="GM_font">
                            <a href="/parties/new" class="btn btn-lg mb-0 text-white" style="background-color: #5837D0;">파티 만들기</a>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-6 position-relative">
                        <img src="/img/ignacio-brosa-vJDbPuxUS_s-unsplash.jpg" class="rounded img-main" alt="">

                        
                    </div>
                </div>
            </div>
    </section>
        
</main>

<%- include('../partials/footer2') %>